*,
*::after,
*::before {
    box-sizing: inherit
}

* {
    font: inherit
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
    margin: 0;
    padding: 0;
    border: 0
}

html {
    box-sizing: border-box
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main,
form legend {
    display: block
}

ol,
ul {
    list-style: none
}

.btn,
.form-control,
.link,
.reset {
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    color: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

img,
video,
svg {
    max-width: 100%
}

:root {
    --space-unit: 1em;
    --space-xxxxs: calc(0.125*var(--space-unit));
    --space-xxxs: calc(0.25*var(--space-unit));
    --space-xxs: calc(0.375*var(--space-unit));
    --space-xs: calc(0.5*var(--space-unit));
    --space-sm: calc(0.75*var(--space-unit));
    --space-md: calc(1.25*var(--space-unit));
    --space-lg: calc(2*var(--space-unit));
    --space-xl: calc(3.25*var(--space-unit));
    --space-xxl: calc(5.25*var(--space-unit));
    --space-xxxl: calc(8.5*var(--space-unit));
    --space-xxxxl: calc(13.75*var(--space-unit));
    --component-padding: var(--space-md)
}

@supports (--css: variables) {
    @media (min-width: 64rem) {
        :root {
            --space-unit: 1.25em
        }
    }
}

:root {
    --container-width-xs: 37.5rem;
    --container-width-sm: 45rem;
    --container-width-md: 64rem;
    --container-width-lg: 80rem;
    --container-width-xl: 90rem
}

.container {
    width: calc(100% - 1.25em);
    width: calc(100% - 2*var(--component-padding));
    margin-left: auto;
    margin-right: auto
}

.container--lg {
    max-width: 80rem;
    max-width: var(--container-width-lg)
}

.flex {
    display: -ms-flexbox;
    display: flex
}

.flex > * {
    display: inline-block
}

.flex--center-y {
    -ms-flex-align: center;
    align-items: center;
    clear: both;
}

.flex--space-between {
    -ms-flex-pack: justify;
    justify-content: space-between
}

:root {
    --radius: 0.25em;
    --shadow-sm: 0 1px 1px rgba(0, 0, 0, .2), 0 1px 8px rgba(0, 0, 0, .1);
    --shadow-md: 0 1px 8px rgba(0, 0, 0, .1), 0 8px 24px rgba(0, 0, 0, .15);
    --shadow-lg: 0 1px 8px rgba(0, 0, 0, .1), 0 16px 48px rgba(0, 0, 0, .1), 0 24px 60px rgba(0, 0, 0, .1);
    --transition-bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --transition-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
    --transition-ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --transition-ease-out: cubic-bezier(0.215, 0.61, 0.355, 1)
}

:root {
    --font-primary: sans-serif;
    --text-base-size: 1em;
    --text-scale-ratio: 1.2;
    --text-xs: calc(1em/var(--text-scale-ratio)/var(--text-scale-ratio));
    --text-sm: calc(var(--text-xs)*var(--text-scale-ratio));
    --text-md: calc(var(--text-sm)*var(--text-scale-ratio)*var(--text-scale-ratio));
    --text-lg: calc(var(--text-md)*var(--text-scale-ratio));
    --text-xl: calc(var(--text-lg)*var(--text-scale-ratio));
    --text-xxl: calc(var(--text-xl)*var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-xxl)*var(--text-scale-ratio));
    --body-line-height: 1.4;
    --heading-line-height: 1.2;
    --font-primary-capital-letter: 1
}

@supports (--css: variables) {
    @media (min-width: 64rem) {
        :root {
            --text-base-size: 1.25em;
            --text-scale-ratio: 1.25
        }
    }
}

body {
    font-size: 1em;
    font-size: var(--text-base-size);
    color: hsl(240, 4%, 20%);
    color: black
}

h1,
h2,
h3,
h4 {
    color: hsl(240, 8%, 12%);
    color: black
    line-height: 1.2;
    line-height: var(--heading-line-height)
}

.text--xxxl {
    font-size: 2.48832em;
    font-size: var(--text-xxxl)
}

h1,
.text--xxl {
    font-size: 2.0736em;
    font-size: var(--text-xxl)
}

h2,
.text--xl {
    font-size: 1.728em;
    font-size: var(--text-xl)
}

h3,
.text--lg {
    font-size: 1.44em;
    font-size: var(--text-lg)
}

h4,
.text--md {
    font-size: 1.2em;
    font-size: var(--text-md)
}

.text--sm,
small {
    font-size: 0.83333em;
    font-size: var(--text-sm)
}

.text--xs {
    font-size: 0.69444em;
    font-size: var(--text-xs)
}

a,
.link {
    color: hsl(220, 90%, 56%);
    color: blue;
    text-decoration: underline
}

.text--subtle,
.text-component .text--subtle {
    color: hsl(240, 1%, 48%);
    color: black
}

.text-component {
    --component-body-line-height: calc(var(--body-line-height)*var(--line-height-multiplier, 1));
    --component-heading-line-height: calc(var(--heading-line-height)*var(--line-height-multiplier, 1));
    --line-height-multiplier: 1;
    --text-vspace-multiplier: 1
}

.text-component h1,
.text-component h2,
.text-component h3,
.text-component h4 {
    line-height: 1.2;
    line-height: var(--component-heading-line-height);
    margin-bottom: 0.25em;
    margin-bottom: calc(var(--space-xxxs)*var(--text-vspace-multiplier))
}

.text-component h2,
.text-component h3,
.text-component h4 {
    margin-top: 0.75em;
    margin-top: calc(var(--space-sm)*var(--text-vspace-multiplier))
}

.text-component p,
.text-component blockquote,
.text-component ul li,
.text-component ol li {
    line-height: 1.4;
    line-height: var(--component-body-line-height);
    color: hsl(240, 4%, 20%);
    color: black
}

.text-component ul,
.text-component ol,
.text-component p,
.text-component blockquote {
    margin-bottom: 0.75em;
    margin-bottom: calc(var(--space-sm)*var(--text-vspace-multiplier))
}

.text-component > *:first-child {
    margin-top: 0
}

.text-component > *:last-child {
    margin-bottom: 0
}

:root {
    --icon-xs: 16px;
    --icon-sm: 24px;
    --icon-md: 32px;
    --icon-lg: 48px;
    --icon-xl: 64px
}

:root {
    --btn-font-size: 1em;
    --btn-sm: calc(var(--btn-font-size) - 0.2em);
    --btn-md: calc(var(--btn-font-size) + 0.2em);
    --btn-lg: calc(var(--btn-font-size) + 0.4em)
}

.btn {
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    line-height: 1;
    padding: 0.5em 0.75em;
    padding: var(--space-xs) var(--space-sm);
    border-radius: 0.25em;
    font-size: 1em;
    font-size: var(--btn-font-size);
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center
}

.btn--subtle {
    color: hsl(240, 8%, 12%);
    color: grey;
    border: 1px solid hsl(240, 1%, 83%);
    border: solid 1px grey
}

:root {
    --zindex-header: 2;
    --zindex-popover: 4;
    --zindex-fixed-element: 5;
    --zindex-overlay: 10
}

@media not all and (min-width: 30rem) {
    .display--xs {
        display: none !important
    }
}

@media (min-width: 30rem) {
    .hide--xs {
        display: none !important
    }
}

@media not all and (min-width: 37.5rem) {
    .display--sm {
        display: none !important
    }
}

@media (min-width: 37.5rem) {
    .hide--sm {
        display: none !important
    }
}

@media not all and (min-width: 64rem) {
    .display--md {
        display: none !important
    }
}

@media (min-width: 64rem) {
    .hide--md {
        display: none !important
    }
}

@media not all and (min-width: 80rem) {
    .display--lg {
        display: none !important
    }
}

@media (min-width: 80rem) {
    .hide--lg {
        display: none !important
    }
}

@media not all and (min-width: 90rem) {
    .display--xl {
        display: none !important
    }
}

@media (min-width: 90rem) {
    .hide--xl {
        display: none !important
    }
}

:root {
    --display: block
}

.is-visible {
    display: block !important;
    display: var(--display) !important
}

.is-hidden {
    display: none !important
}

.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    border: 0;
    white-space: nowrap
}

:root {
    --cd-header-height: 200px;
}

@supports (--css: variables) {
    @media (min-width: 64rem) {
        :root {
            --cd-header-height: 300px
        }
    }
}

.cd-main-header {
    height: 200px;
    height: var(--cd-header-height);
    background: #303f4a;
    color: hsl(0, 0%, 100%);
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.cd-main-header h1 {
    color: inherit
}

.cd-timeline {
    overflow: hidden;
    padding: 2em 0;
    padding: 75px 0 0 0; /*height of header*/
    color: #818d98;   
    background: #fff;
    /*background: radial-gradient(circle, #2D1D17 0%, #000000 50%, #2D1D17 100%);*/
}

.cd-timeline h2 {
    font-weight: 700
}

.cd-timeline__container {
    position: relative;
    padding: 1.25em 0;
    padding: var(--space-md) 0
}

.cd-timeline__container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d2d2d2;
}

@media (min-width: 64rem) {
    .cd-timeline__container::before {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

.cd-timeline__block {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
    margin-bottom: 2em;
    margin-bottom: var(--space-lg)
}

.cd-timeline__block:last-child {
    margin-bottom: 0
}

@media (min-width: 64rem) {
    .cd-timeline__block:nth-child(even) {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }
}

.cd-timeline__img {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #d2d2d2, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05)
}

.cd-timeline__img img {
    width: 24px;
    height: 24px
}

@media (min-width: 64rem) {
    .cd-timeline__img {
        width: 60px;
        height: 60px;
        -ms-flex-order: 1;
        order: 1;
        margin-left: calc(5% - 30px);
        will-change: transform
    }

    .cd-timeline__block:nth-child(even) .cd-timeline__img {
        margin-right: calc(5% - 30px)
    }
}

.cd-timeline__img--picture, .cd-timeline__img--movie, .cd-timeline__img--location {
    background-color: #fff;
}

.cd-timeline__content {
    -ms-flex-positive: 1;
    flex-grow: 1;
    position: relative;
    margin-left: 1.25em;
    margin-left: var(--space-md);
    background: #f4f4f4;
    border-radius: 0.25em;
    border-radius: var(--radius);
    padding: 1.25em;
    padding: var(--space-md);
    box-shadow: 0 0 3px #d8e5ee;
}

.cd-timeline__content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-right-color: #f4f4f4; 
}

.cd-timeline__content h2 {
    color: #303f4a;
}

@media (min-width: 64rem) {
    .cd-timeline__content {
        width: 45%;
        -ms-flex-positive: 0;
        flex-grow: 0;
        will-change: transform;
        margin: 0;
        font-size: 0.8em;
        --line-height-multiplier: 1.2
    }

    .cd-timeline__content::before {
        top: 24px
    }

    .cd-timeline__block:nth-child(odd) .cd-timeline__content::before {
        right: auto;
        left: 100%;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-left-color: #f4f4f4;
    }
}

.cd-timeline__date {
    color: rgba(129, 141, 152, 0.7);
}

@media (min-width: 64rem) {
    .cd-timeline__date {
        position: absolute;
        width: 100%;
        left: 120%;
        top: 20px
    }

    .cd-timeline__block:nth-child(even) .cd-timeline__date {
        left: auto;
        right: 120%;
        text-align: right
    }
}

@media (min-width: 64rem) {

    .cd-timeline__img--hidden,
    .cd-timeline__content--hidden {
        visibility: hidden
    }

    .cd-timeline__img--bounce-in {
        -webkit-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s
    }

    .cd-timeline__content--bounce-in {
        -webkit-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s
    }

    .cd-timeline__block:nth-child(even) .cd-timeline__content--bounce-in {
        -webkit-animation-name: cd-bounce-2-inverse;
        animation-name: cd-bounce-2-inverse
    }
}

@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        transform: translateX(20px)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px)
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}
